/* >>>> GENERAL BASE STYLES <<<< */


* {
    box-sizing: border-box;
}


body, 
main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


body {
    background-color: hsl(212, 45%, 89%);
    font-family: 'Outfit', sans-serif;
    font-weight: 400;
    min-height: 100vh;
    padding: 2rem;
}


main {
    background-color: hsl(0, 0%, 100%);
    border-radius: 1rem;
    padding: 1.4rem;
    max-width: 300px;
}


img {
    border-radius: 1rem;
    padding: 0 .3rem;
}


h1,
p {
    text-align: center;
}


h1 {
    font-weight: 700;
    font-size: 1.4rem;
    padding: 1.5rem 0;
    color: hsl(218, 44%, 22%);
}


p {
    color: hsl(220, 15%, 55%);
    font-size: 1.01rem;
}


/* >>>> END OF CSS <<<< */